{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"  />
</head>
<body>

    <header class="header">
        <div class="header-box">
            <div class="header-box-left">
                
                <a class='header-main-list__text' href="{% url 'main' %}">Главная</>
                <a class='header-main-list__text' href="{% url 'main' %}">Рецепты</a>
                <a class='header-main-list__text' href="{% url 'main' %}">Авторы</a>
                
            </div>
            <div class="header-box-right">
            {% if request.user.is_authenticated %}
    
                <a class='header-main-list__text'> Приветствую, {{ user.username}} !</a>
                <a class='header-main-list__text' href="{% url 'logout' %}">Выйти</a> 
            
            {% else %} 
            
                <a class='header-main-list__text' href="{% url 'register' %}">Регистрация</a> 
                <a class='header-main-list__text' href="{% url 'login' %}">Войти</a> 
        
            {% endif %}
            </div>

        </div>

    </header>
    <div>

    </div>    


    <h2 class="base_page_header"> КУЛИНАРНАЯ КНИГА </h2>

    
    {% block content %}
    Контент скоро появится...
    {% endblock %}

</body>
</html>