/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */

html {
    font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.cur-po {
    cursor: pointer;
}

label {
    display: block; /* Делает каждый лейбл отдельным блочным элементом */
    margin-bottom: 10px; /* Добавляет отступ между лейблами */
}

input[type="text"], input[type="password"], textarea {
    /* width: 100%;  */
    padding: 2px;
    margin-bottom: 2px;
}


.form-error {
    color: red;
}

.error-list {
    list-style-type: none;
    padding: 0;
}

.header {
    background-color: #12121b;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.header-box {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-box-left {
    gap: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

.header-box-right {
    gap: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-main-list__text {
    color: #fb8b8b;
    font-family: "Arial";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* margin-top: 1px;
    margin-bottom: 15px; */
}

.intro-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-box__image {
    width: 100%;

}

.section-box {
    background-color: #eaeef0;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-box {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-form {

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: #14172f;


}

.register-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.button-submit {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #b62b40;
    cursor: pointer;
    border-radius: 24px;
    vertical-align: middle;
    border: none;
}
.button-recipe{
    margin-top: 10px;
    width: 180px;
    height: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #173421;
    cursor: pointer;
    border-radius: 10px;
    vertical-align: middle;
    border: none;
}

.recipe-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.recipe-short{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
.recipe-field{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align:justify;
}


.main-image-container {
    width: 400px;
    height: 300px;
    border: 1px solid rgb(177, 182, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48%;
    overflow: hidden;

}

.main-image-container__img {
     height: 100%;

}


@media screen and (max-width: 1439px) {
    .header-box {
        width: 736px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-box-left {
        gap: 20px;

    }
    .header-box-right {
        gap: 20px;

    }
    .header-main-list__text {

        font-size: 14px;

    }

    .content-box {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 736px;
    }

    .recipe-short{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 736px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }

    .recipe-field{
        width: 700px;
    }

}

@media screen and (max-width: 767px) {

    .intro-box__image {
        width: 150%;
    
    }

    .header {
        height: 100%;
        margin-bottom: 10px;
    }


    .header-box {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 375px;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-box-left {
        height: 100%;
        flex-direction: column;
        gap: 15px;

    }
    .header-box-right {
        height: 100%;
        flex-direction: column;
        gap: 15px;

    }
    .header-main-list__text {

        font-size: 18px;

    }

    .content-box {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 375px;
    }



    .recipe-short{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 375px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }

    .recipe-field{
        width: 375px;
    }

    .main-image-container {
        width: 300px;
        height: 200px;
        border: 1px solid rgb(177, 182, 27);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 48%;
        overflow: hidden;
    
    }

}