{% extends 'base.html' %}
{% block content %}

<section class='section-box'>
<div class="content-box">
    <h2>{{ recipe.title }}</h2>
    <h3>Категория: {{ recipe.category.name }}</h3>

    <p>{{ recipe.description }}</p>
    <h3>Ингридиенты:</h3>
    <p class='recipe-field'> {{ recipe.ingredients|linebreaksbr }}</p>
    <h3>Шаги приготовления:</h3>
    <p class='recipe-field'> {{ recipe.steps|linebreaksbr }}</p>
    <p>Время готовки: {{ recipe.cooking_time }}</p>
    {% if recipe.pecipe_image %}
            <img src="{{ recipe.pecipe_image.url }}" alt="картинка">

    {% endif %}

    <p>Автор: {{ recipe.author.username }}</p>

</div>
</section>
{% endblock %}