{% extends 'base.html' %}
{% block content %}
<section class='section-box'>
    <div class="content-box">

    <h1>Все рецепты:</h1>
    
    {% for recipe in recipes %}
    <div class="recipe-short">
        <h3>{{ recipe.title }}</h3>
        <p>Категория: {{ recipe.category.name }}<p>
        <p>Время готовки {{ recipe.cooking_time }}</p>
        <p>{{ recipe.description }}</p>
        <p>Автор: {{ recipe.author.username }}</p>
        <a href="{% url 'recipe_detail' recipe.id %}"><button class='button-recipe'>Посмотреть рецепт </button></a>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}