{% extends 'base.html' %}
{% block content %}
<section class='section-box'>
    <div class="content-box">

    <h1>Мои рецепты</h1>
    {% for recipe in recipes %}
    <div class="recipe-short">
        <h3>{{ recipe.title }}</h3>
        <p>Время готовки {{ recipe.cooking_time }}</p>
        <p>{{ recipe.description }}</p>
        <a href="{% url 'recipe_edit' recipe.id %}"><button class='button-recipe'>Редактировать рецепт </button></a>
        <a href="{% url 'recipe_detail' recipe.id %}"><button class='button-recipe'>Посмотреть рецепт </button></a>
    </div>
    {% endfor %}
</div>
</section>
{% endblock %}